@page
@model PrivacyModel
@{
    ViewData["Title"] = "UseCase";
}
<h1 class="text-white">Use Case</h1>

<style>
    body, html {
        height: 100%;
        background-image: url("../images/sole.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<p class="text-white">Progetto ultima valutazione informatica <i>Brozzoni 5IC</i></p>

<img src="~/images/usecase.png" />